<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <php>
        <env name="LINE_BOT_CHANNEL_ACCESS_TOKEN" value="test_channel_access_token"/>
        <env name="LINE_BOT_CHANNEL_SECRET" value="test_channel_secret"/>
    </php>

    <testsuites>
        <testsuite name="laravel test">
            <directory>./src/laravel/test</directory>
        </testsuite>
        <testsuite name="parser test">
            <directory>./src/parser/test</directory>
        </testsuite>
    </testsuites>
</phpunit>

