name: PHP Checks

on: [push, pull_request]

jobs:
  tests:
    name: Run checks on PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [7.2, 7.3, 7.4, 8.0, 8.1]
        include:
          - php: 7.4
            analysis: true
          - php: 8.1
            analysis: true

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-php-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-${{ matrix.php }}-

      - name: Install dependencies with Composer
        uses: ramsey/composer-install@v1
        
      - name: Check copyrights
        if: matrix.analysis
        run: bash tools/check_copyright.sh

      - name: Check code style with PHP_CodeSniffer
        if: matrix.analysis
        run: composer cs

      - name: Check with PHP Mess Detector 
        if: matrix.analysis
        run: composer md

      - name: Check with PHPStan
        if: matrix.analysis
        run: composer stan

      - name: Run unit tests
        run: composer test
