name: PHP Checks

on:
  push:
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  tests:
    name: Run checks on PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        php: 
          - 8.1
          - 8.2
          - 8.3
          - 8.4
          - 8.5
        include:
          - php: 8.1
            analysis: true
          - php: 8.2
            analysis: true
          - php: 8.3
            analysis: true
          - php: 8.4
            analysis: true
          - php: 8.5
            analysis: true

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - name: Set up PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php }}

      - name: Install openapi-generator-cli
        run: echo "OPENAPI_GENERATOR_VERSION=7.11.0" >> $GITHUB_ENV
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: openapi-generator-cache
        env:
          cache-name: openapi-generator-cache
        with:
          path: ~/bin/openapitools
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ env.OPENAPI_GENERATOR_VERSION }}
      - if: steps.openapi-generator-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p ~/bin/openapitools
          curl https://raw.githubusercontent.com/OpenAPITools/openapi-generator/master/bin/utils/openapi-generator-cli.sh > ~/bin/openapitools/openapi-generator-cli
          chmod u+x ~/bin/openapitools/openapi-generator-cli
          export PATH=$PATH:~/bin/openapitools/
          OPENAPI_GENERATOR_VERSION=${{ env.OPENAPI_GENERATOR_VERSION }} openapi-generator-cli version

      - name: Generate code
        run: |
          export PATH=$PATH:~/bin/openapitools/
          bash tools/gen-oas-client.sh

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-php-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-${{ matrix.php }}-

      - name: Install dependencies with Composer
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

      - name: Check copyrights
        if: matrix.analysis
        run: composer copyright

      - name: Check code style with PHP_CodeSniffer
        if: matrix.analysis
        run: composer cs

      - name: Check with PHP Mess Detector 
        if: matrix.analysis
        run: composer md

      - name: Check with PHPStan
        if: matrix.analysis
        run: composer stan

      - name: Run unit tests
        if: matrix.analysis
        run: composer test

  pinact:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run pinact
        uses: suzuki-shunsuke/pinact-action@3d49c6412901042473ffa78becddab1aea46bbea # v1.3.1
        with:
          skip_push: "true"
